/* Style du projet */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* enlever l'espace par défaut */
    padding: 0;  /* enlever l'espace par défaut */
  }
  h1, h2 {
    font-family: 'Indie Flower', cursive; 
    font-weight: normal; /* enlève le style gras par défaut */
    text-transform: lowercase;
  }
  h1 {
    font-size: 75px;  
  }
  h2 {
    font-size: 32px; 
  }
  p {
    font-size: 18px;
    line-height: 1.5; /* interligne */
  }
  a {
    color: #342481; 
  } 
  header, 
  section, 
  footer {
    padding: 100px 150px;
  }
  #loves, 
  footer {
    text-align: center;
  }
  strong {
    color: #FB0007;
  }
  img {
    border-radius: 50%;
  }
  
  
  /* header de la page
  -----------------------------------------*/
  header {
    background: #eeeeee;
  } 
  
  
  /*  section "A propos de moi"
  -----------------------------------------*/
  #about {
    background: #00A69D;
    color: white;
  }
  .profile-img {
    float: right;
    margin-left: 20px;
    width: 300px;
  }
  
  
  /* Section "Mes choses préférées"
  -----------------------------------------*/
  #loves {
    background: #342481;
  }
  #loves img {
    width: 250px;
    margin: 15px;
  }
  
  
  /*  footer & contact info
  -----------------------------------------*/
  footer {
    background: #444;
    color: #CECCCC;
  }