/* apply a natural box layout model to all elements, but allowing components to change */  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* removes default space */
    padding: 0;  /* removes default space */
  }
  h1, h2 {
    font-family: 'Indie Flower', cursive;
    margin: 0; /* removes default space */
    font-weight: normal; /* removes default bold style */
    text-transform: lowercase;
  }
  h1 {
    font-size: 75px;  
  }
  p {
    font-size: 18px;
    line-height: 1.5; /* adjusts space between the lines */
  }
  a {
    color: #342481; 
  }
  a:hover {
    color: #CECCCC;
  }
  header, 
  section, 
  footer {
    padding: 100px 150px;
  }
  .loves, 
  footer {
    text-align: center;
  }
  strong {
    color: #FB0007;
  }
  img {
    border-radius: 50%;
  }
  
  
  /* PAGE HEADER
  -----------------------------------------*/
  header {
    background: #eeeeee;
  }
  header h1 {
    font-size: 100px; 
  }
  header h2 {
    font-size: 32px; 
  }
  
  
  /* ABOUT
  -----------------------------------------*/
  .about {
    background: #00A69D;
    color: white;
  }
  .profile-img {
    float: right;
    margin-left: 20px;
    width: 300px;
  }
  
  
  /* LOVES - things I love 
  -----------------------------------------*/
  .loves {
    background: #342481;
  }
  .loves img {
    width: 250px;
    margin: 15px;
  }
  
  
  /* FOOTER - contact info
  -----------------------------------------*/
  footer {
    background: #444;
    color: #CECCCC;
  }